* {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

#tabtab {
  width: 600px;
  border: 1px solid #000;
  margin: 100px auto;
  position: relative;
  padding-top: 40px; }
  #tabtab dt {
    width: calc(100% / 3);
    height: 40px;
    position: absolute;
    top: 0; }
    #tabtab dt:nth-of-type(1) {
      left: calc((100% / 3) * 0); }
    #tabtab dt:nth-of-type(2) {
      left: calc((100% / 3) * 1); }
    #tabtab dt:nth-of-type(3) {
      left: calc((100% / 3) * 2); }
    #tabtab dt a {
      display: block;
      width: 100%;
      height: 100%;
      background: #555;
      font: bold 14px/40px 'arial';
      color: #aaa;
      text-align: center; }
      #tabtab dt a.on {
        background: #fff;
        color: #444; }
  #tabtab dd {
    width: 100%;
    height: 200px;
    padding: 50px;
    display: none; }
    #tabtab dd#tab1 {
      display: block; }

section {
  width: 100%;
  height: 100vh; }
  section #tab {
    width: 800px;
    height: 400px;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -200px;
    background: rgba(0, 0, 0, 0.5); }
    section #tab .menu {
      width: 200px;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      position: relative; }
      section #tab .menu #btns {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 30px; }
        section #tab .menu #btns li a {
          display: block;
          width: 100%;
          height: 40px;
          font: bold 14px/40px 'arial';
          color: #888;
          padding-left: 60px;
          box-sizing: border-box; }
          section #tab .menu #btns li a.on {
            background: rgba(0, 0, 0, 0.7);
            color: yellow; }
    section #tab .boxs > div {
      width: 600px;
      position: absolute;
      right: 0;
      top: 0;
      height: 400px;
      background: rgba(0, 0, 0, 0.1);
      display: none; }
      section #tab .boxs > div#tab1 {
        display: block;
        height: 400px; }
      section #tab .boxs > div#tab2 {
        height: 350px; }
      section #tab .boxs > div#tab3 {
        height: 300px; }
      section #tab .boxs > div#tab4 {
        height: 350px; }
      section #tab .boxs > div span {
        font: bold 100px/1 'arial';
        color: #aaa;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

#tab {
  width: 600px;
  border: 1px solid #000;
  margin: 100px auto; }
  #tab ul {
    width: 100%; }
    #tab ul::after {
      content: '';
      display: block;
      clear: both; }
    #tab ul li {
      width: calc(100% / 3);
      height: 40px;
      float: left; }
      #tab ul li a {
        display: block;
        width: 100%;
        height: 100%;
        font: bold 14px/40px 'arial';
        color: #aaa;
        background: #444;
        text-align: center; }
        #tab ul li a.on {
          background: #fff;
          color: #555; }
  #tab .group {
    width: 100%; }
    #tab .group > div {
      width: 100%;
      padding: 50px;
      display: none; }
      #tab .group > div#tab1 {
        display: block; }

/*# sourceMappingURL=style.css.map */
