@charset 'UTF-8'; 


#slider1{
    width:100%; height:100vh; overflow:hidden; 

    ul{
        width:calc(100% * 3); height:100%; margin-left:-100%; 

        li{
            width:calc(100% / 3); height:100%; float:left; 

            &[data-index="1"]{ background:lightcyan; }
            &[data-index="2"]{ background:lemonchiffon; }
            &[data-index="3"]{ background:lightpink;}
        }
    }
}

#slider2{
    width:450px; height:780px; overflow:hidden;
    position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); 
    border:10px solid #000;  

    ul{
        width:calc(100% * 3); height:100%; margin-left:-100%; 

        li{
            width:calc(100% / 3); height:100%; float:left; 

            &[data-index="1"]{ background:#bcffff; }
            &[data-index="2"]{ background:#fff495; }
            &[data-index="3"]{ background:#f78c9c;}
        }
    }
}

.prev{
    position:absolute; top:50%; left:50%; transform:translate(-300px, -50%); 
    display:block; width:20px; height:100px; background:#000; 
}
.next{
    position:absolute; top:50%; left:50%; transform:translate(280px, -50%); 
    display:block; width:20px; height:100px; background:#000; 
}