.wrap{
    width:1200px; height:360px; 
    position:absolute; top:50%; margin-top:-180px; left:50%; margin-left:-600px;

    h1{
        position:absolute; left:0; top:-100px; 
    }
    .ft1{
        position:absolute; bottom:-30px; left:-57px; 
    }
    .ft2{
        position:absolute; bottom:-30px; right:0;  
    }

    .tab{
        width:1200px; height:360px; position:relative; 

        .left{
            width:320px; height:360px; background:#222; 
            position:absolute; top:0; left:0; 
            padding:40px 30px; box-sizing:border-box; 

            h2{
                font:bold 14px/1 'arial'; color:#fff; margin-bottom:40px; 
            }
            .navi{
                width:100%; 

                li{
                    a{
                        display:block; 
                        font:12px/1 'Aldrich'; color:#bbb; 
                        border-bottom:1px solid #333; padding:12px 8px; box-sizing:border-box; 
                        
                        &.on{
                            color:orange; background:#000; 
                            padding:12px 30px; 
                        }
                    }
                }
            }
        }


        .box{
            width:880px; height:360px; 
            position:absolute; top:0; right:0; display:none; 
            
            h2{
                font:80px/1 'Aldrich'; color:#111; letter-spacing:5px; 
                position:absolute; left:0; top:100px; 
                opacity:0; transition:1s; 
            }
            h3{
                font:bold 250px/1 'Verdana'; color:#999; letter-spacing:-10px; 
                position:absolute; right:-100px; bottom:-25px; 
                opacity:0; transition:2.5s; 
            }
            p{
                font:bold 16px/1.4 'arial'; color:#aaa; letter-spacing:2px; 
                position:absolute; left:0; top:200px; 
                opacity:0; transition:1.5s; 
            }

            &.on{ display:block;
                h2{left:100px; opacity:1; }
                h3{right:0; opacity:0.1; }
                p{left:0; opacity:1;}
            }

            &#tab1{ background:#f7fbd9; 
                >img{ position:absolute; right:-152px; bottom:-22px; transform:rotate(-70deg); opacity:0; transition:1s; }
                &.on>img{ transform:rotate(0deg); opacity:1; }
            }
            &#tab2{ background:#fbf6ca; 
                >img{ position:absolute; right:-152px; bottom:-22px;transform:rotate(-70deg); transition:1s;}
                &.on>img{ transform:rotate(0deg); opacity:1; }
            }
            &#tab3{ background:#ffecf2; 
                >img{ position:absolute; right:-152px; bottom:-22px; transform:rotate(-70deg); transition:1s;}
                &.on>img{ transform:rotate(0deg); opacity:1; }
            }
            &#tab4{ background:#ecf9ff; 
                >img{ position:absolute; right:-152px; bottom:-22px; transform:rotate(-70deg); transition:1s;}
                &.on>img{ transform:rotate(0deg); opacity:1; }
            }
        }


    }
}