@charset 'UTF-8'; 

#slider{
    width:500px; 
    height:300px; 
    border:10px solid #000; 
    margin:100px auto; 
    position:relative; 
    overflow:hidden; 

    .list{
        width: calc(100% * 4); 
        height:100%; 
        margin-left:-100%;

        li{
            width:calc(100% / 4); 
            height:300px;  
            float:left; 
            display:flex; 
            justify-content:center; 
            align-items:center; 
            font-size:50px; 
            color:#fff; 

            &[data-index="1"]{
                background:hotpink; 
            }
            &[data-index="2"]{
                background:orange; 
            }
            &[data-index="3"]{
                background:aqua; 
            }
            &[data-index="4"]{
                background:lightgreen; 
            }
            &[data-index="5"]{
                background:orangered; 
            }
            &[data-index="6"]{
                background:tan; 
            }
            
        }
    }

    .prev{
        position:absolute; 
        top:50%; 
        left:50px; 
        margin-top:-50px; 
    }
    .next{
        position:absolute; 
        top:50%; 
        margin-top:-50px; 
        right:50px; 
    }

}

.controls{
    position:absolute; 
    right:100px; 
    bottom:150px; 

    li{
        float:left; 
        margin-left:20px; 

        a{
            display:inline-block; 
            font-size:20px; 
            color:#999; 
            transition:0.5s; 

            &.on{
                color:#333; 
                transform:scale(1.5); 
            }
        }
    }

}