@charset 'utf-8';
*{margin: 0; padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;}

@import 'tab.scss';
@import 'tabbasic.scss';
@import 'tabbasics.scss';
@import 'flower.scss';
@import 'slider.scss';
@import 'slidermini.scss';
@import 'boxhover.scss';
@import 'toggle.scss';
@import 'cookie.scss';
@import 'swiper.scss';
@import 'multi.scss';
@import 'cover.scss';
@import 'alert.scss';
@import 'menu.scss';
@import 'box.scss';












#tab{
    width: 600px;
    border: 1px solid #000;
    margin: 100px auto;

    ul{
        width: 100%;
        &::after{
            content:''; display:block; clear:both; 
        }
        li{
            width: calc(100% / 3);
            height: 40px;
            float: left;

            a{
                display:block; 
                width:100%; 
                height:100%; 
                font:bold 14px/40px 'arial'; 
                color:#aaa; 
                background:#444; 
                text-align:center; 

                &.on{
                    background:#fff; 
                    color:#555; 
                }
            }
        }
    }

    .group{
        width:100%; 
        >div{
            width:100%; 
            padding:50px; 
            display:none; 

            &#tab1{
                display:block; 
            }
        }

    }
}