@charset 'utf-8';
*{margin: 0; padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;}

#tab{
    width: 600px;
    border: 1px solid #000;
    margin: 100px auto;

    ul{
        width: 100%;

        li{
            width: calc(100% / 3);
        }
    }
}